<div id="checkoutBar" class="flex-space-between ">
    <div>總計<span>6</span>項，共<span>$325</span></div>
    <div><a href="<%- cheakLine %>">
        <i class="el-icon-shopping-bag-2"></i><%- btnText %></a>
    </div>
</div>