<div id="freeDrink" class="popup">
    <!-- 點擊 @click 關閉 popup -->
    <div class="popupClose" @click="popuphide = true"><i class="el-icon-close"></i></div>
    <div class="popupContent">
        製作自配方
        在此製作配方只能一次性調配，無法儲存重複使用
        如想重複使用請至配配飲官網
        選擇容量*
        中杯
        大杯

        <div class="drinkProgress">
            <div class="flex-item-center">
                <div class="">
                    <div class="">0ml</div>
                    <img src="./assets/images/drinkCup0.svg" alt="" srcset="" class="" />
                </div>
                <div class="">
                    <div class="">250ml</div>
                    <img src="./assets/images/drinkCup50.svg" alt="" srcset="" class="" />
                </div>
                <div class="">
                    <div class="">500ml</div>
                    <img src="./assets/images/drinkCup100.svg" alt="" srcset="" class="" />
                </div>
            </div>
            <div class="progress">
                <div class="progressBar">
                    <div class="barValue">
                        <i class="pay-arrow_top"></i>
                        <div class="">30ml</div>
                    </div>
                </div>
            </div>
        </div>


        選擇茶底*
        請至少選擇一種茶底
        茶底種類
        食材費
        果汁
        柳橙汁
        30ml
        $30
        <i class="el-icon-close"></i>
        茶類
        綠茶
        30ml
        $10
        <i class="el-icon-close"></i>
        增加茶底

        添加配料
        茶底種類
        食材費加工食品布丁30ml$20<i class="el-icon-close"></i>
        水果哈密瓜30ml$30<i class="el-icon-close"></i>
        增加配料

        食材費總計
        $90
        客製選項
        <div class="drinkChoose flex-item-center">
            <div class="mr-2 drinkType"><span>*</span>容量</div>
            <div class="flex-item-center">
                <input type="radio" name="free_cup" id="medium" checked>
                <label for="medium">中杯</label>
            </div>
            <div class="flex-item-center">
                <input type="radio" name="free_cup" id="large">
                <label for="large">大杯</label>
            </div>
        </div>
        <div class="drinkChoose flex-item-center">
            <div class="mr-2 drinkType"><span>*</span>甜度</div>
            <div class="flex-item-center">
                <input type="radio" name="free_sugar" id="sugar_no" checked>
                <label for="sugar_no">無糖</label>
            </div>
            <div class="flex-item-center">
                <input type="radio" name="free_sugar" id="sugar_3">
                <label for="sugar_3">三分</label>
            </div>
            <div class="flex-item-center">
                <input type="radio" name="free_sugar" id="sugar_5">
                <label for="sugar_5">半分</label>
            </div>
            <div class="flex-item-center">
                <input type="radio" name="free_sugar" id="sugar_7">
                <label for="sugar_7">七分</label>
            </div>
            <div class="flex-item-center">
                <input type="radio" name="free_sugar" id="sugar_10">
                <label for="sugar_10">正常</label>
            </div>
        </div>
        <div class="drinkChoose flex-item-center">
            <div class="mr-2 drinkType"><span>*</span>溫度</div>
            <div class="flex-item-center">
                <input type="radio" name="free_temp" id="cold" checked>
                <label for="cold">冷飲</label>
            </div>
            <div class="flex-item-center">
                <input type="radio" name="free_temp" id="normal">
                <label for="normal">常溫</label>
            </div>
            <div class="flex-item-center">
                <input type="radio" name="free_temp" id="hot">
                <label for="hot">熱飲</label>
            </div>
        </div>
        <div class="drinkChoose flex-item-center">
            <div class="mr-2 drinkType"><span>*</span>冰塊</div>
            <div class="flex-item-center">
                <input type="radio" name="free_ice" id="ice_no" checked>
                <label for="ice_no">去冰</label>
            </div>
            <div class="flex-item-center">
                <input type="radio" name="free_ice" id="ice_3">
                <label for="ice_3">微冰</label>
            </div>
            <div class="flex-item-center">
                <input type="radio" name="free_ice" id="ice_5">
                <label for="ice_5">少冰</label>
            </div>
            <div class="flex-item-center">
                <input type="radio" name="free_ice" id="ice_10">
                <label for="ice_10">正常</label>
            </div>
        </div>
        <div class="drinkChoose flex-item-center">
            <div class="mr-2 drinkType"><span>*</span>數量</div>
            <div><i class="el-icon-minus"></i></div>
            <div><input type="number" name="" id="" value="1"></div>
            <div><i class="el-icon-plus"></i></div>
        </div>
        <div class="drinkBuy flex-center">
            <div class="addCart mr-2">確定，加入購物籃</div>
            <div class="checkOut">直接結帳</div>
        </div>
    </div>
</div>