<div id="search">
    <el-row :gutter="20" type="flex" align="middle">
        <el-col :span="18">
            <el-input placeholder="搜尋飲品編號" v-model="searchKey" class="el-icon-search" placeholder="搜尋飲品編號"></el-input>
        </el-col>
        <el-col :span="6">
            <a href="#" class="freeBtn"><i class="el-icon-coffee"></i>自配方</a>
        </el-col>
    </el-row>
</div>