<div id="search">
    <el-row :gutter="20" type="flex" align="middle">
        <el-col :span="18">
            <i class="el-icon-search"></i><input type="text" name="" id="" placeholder="搜尋飲品編號" class="searchBar">
        </el-col>
        <el-col :span="6">
            <a href="#" class="freeBtn"><i class="el-icon-coffee"></i>自配方</a>
        </el-col>
    </el-row>
</div>