<div id="topMenu">
    <template v-for="(i, index) in menu">
        <a :href="i.link" class="menuItem" :class="{ active: dataShare.active == index }" @click="active = index">
            {{ i.name }}
        </a>
    </template>
</div>