<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        Kiosk
    </title>
    <link rel="icon" href="./assets/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="./assets/style/all.css">
</head>

  <body>
    <div id="banner">
    <el-carousel trigger="click" arrow="always" :autoplay="false" height="200px">
        <el-carousel-item v-for="(item, index) in bannerItem">
            <img :src="item.imgSrc" alt="" />
        </el-carousel-item>
    </el-carousel>
</div>
      <div id="topMenu">
    <template v-for="(i, index) in menu">
        <a :href="i.link" class="menuItem" :class="{ active: dataShare.active == index }" @click="active = index">
            {{ i.name }}
        </a>
    </template>
</div>
        <div id="search">
    <el-row :gutter="20" type="flex" align="middle">
        <el-col :span="18">
            <el-input placeholder="搜尋飲品編號" v-model="searchKey" class="el-icon-search" placeholder="搜尋飲品編號"></el-input>
        </el-col>
        <el-col :span="6">
            <a href="#" class="freeBtn"><i class="el-icon-coffee"></i>自配方</a>
        </el-col>
    </el-row>
</div>
          <div id="main">
            <div id="recommender" class="mainIndex" data-index="2">
    <div class="pageTitle">
        <el-divider content-position="center">
            <h1>名人堂</h1>
            <span>瞧瞧名人都喝啥</span>
        </el-divider>
    </div>
    <el-row :gutter="30" class="infinite-list" infinite-scroll-disabled="disabled_recommender" v-infinite-scroll="load"
        style="overflow:auto">
        <el-col :span="24" v-for="(i, index) in recommend" class="infinite-list-item" v-if="index < dispalay">
            <div class="grid-content recommendCard">
                <div class="flex-space-between">
                    <div>
                        <div class="recommendPhoto">
                            <img :src="i.photo" alt="">
                        </div>
                    </div>
                    <div class="recommendInfo">
                        <div class="recommendName mb-2">{{i.name}}</div>
                        <div class="recommendText">{{i.info}}</div>
                    </div>
                    <div class="recommendBtn">
                        <a :href="i.link">名人推薦</a>
                    </div>
                </div>
            </div>
        </el-col>
        <el-col :span="24">
            <p v-if="loading"><i class="el-icon-loading mr-2"></i>讀取中...</p>
            <p v-if="noMore_recommender">没有更多了</p>
        </el-col>
    </el-row>
</div>
          </div>
          <div id="checkoutBar" class="flex-space-between ">
    <div>總計<span>6</span>項，共<span>$325</span></div>
    <div><a href="#"><i class="el-icon-shopping-bag-2"></i>確認訂單</a></div>
</div>
            <footer>
              <!-- <script src="./assets/js/vendors.js"></script> -->
<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="./assets/js/all.js"></script>
            </footer>
  </body>

</html>