<!DOCTYPE html>
<html lang="zh-TW">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        Kiosk
    </title>
    <link rel="icon" href="./assets/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="./assets/style/all.css">

</head>

  <body>
    <div id="banner">
    <el-carousel trigger="click" arrow="always" :autoplay="false" height="200px">
        <el-carousel-item v-for="(item, index) in bannerItem">
            <img :src="item.imgSrc" alt="" />
        </el-carousel-item>
    </el-carousel>
</div>
      <div id="topMenu">
    <a v-for="(item, index) in menu" href="#" class="menuItem" :class="{ active: active == index }"
        @click="active = index">
        {{ item }}
    </a>
</div>
        <div id="search">
    <el-row :gutter="20" type="flex" align="middle">
        <el-col :span="18">
            <el-input placeholder="搜尋飲品編號" v-model="searchKey" class="el-icon-search" placeholder="搜尋飲品編號"></el-input>
        </el-col>
        <el-col :span="6">
            <a href="#" class="freeBtn"><i class="el-icon-coffee"></i>自配方</a>
        </el-col>
    </el-row>
</div>
          <div class="main">
            
<div id="top-10">
    <div class="pageTitle">
        <el-divider content-position="center">
            <h1>熱銷排行TOP10</h1>
            <span>流行趨勢及熱銷飲品</span>
        </el-divider>
    </div>
    <el-row :gutter="30" class="infinite-list" v-infinite-scroll="load" style="overflow:auto">
        <el-col :span="8" v-for="(i, index) in tea" class="infinite-list-item" v-if="index < dispalay">
            <a :href="i.link" class="grid-content">
                <div class="badge">{{ index + 1 }}</div>
                <div class="drinkImg">
                    <img :src="i.img" alt="">
                </div>
                <div class="drinkInfo">
                    <div class="flex-space-between mb-2">
                        <div class="drinkName">{{i.name}}</div>
                        <div class="drinkPrice">${{i.price}}</div>
                    </div>
                    <div class="flex-space-between">
                        <div class="drinkRating"><i class="el-icon-star-on"></i>{{i.rating}}</div>
                        <div class="drinkSell"><span class="type">已售出</span>{{i.sell}}</div>
                    </div>
                </div>
            </a>
        </el-col>
    </el-row>
</div>
          </div>
          <div id="checkoutBar" class="flex-space-between ">
    <div>總計<span>6</span>項，共<span>$325</span></div>
    <div><a href="#"><i class="el-icon-shopping-bag-2"></i>確認訂單</a></div>
</div>
  </body>
  <!-- <script src="./assets/js/vendors.js"></script> -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="./assets/js/all.js"></script>

</html>