---
title: Kiosk
layout: ./app/main.ejs
engine: ejs
<!-- current: index -->
---
<div id="recommender" class="mainIndex" data-index="2">
    <div class="pageTitle">
        <el-divider content-position="center">
            <h1>名人堂</h1>
            <span>瞧瞧名人都喝啥</span>
        </el-divider>
    </div>
    <el-row :gutter="30" class="infinite-list" infinite-scroll-disabled="disabled_recommender" v-infinite-scroll="load"
        style="overflow:auto">
        <el-col :span="24" v-for="(i, index) in recommend" class="infinite-list-item" v-if="index < dispalay">
            <div class="grid-content recommendCard">
                <div class="flex-space-between">
                    <div>
                        <div class="recommendPhoto">
                            <img :src="i.photo" alt="">
                        </div>
                    </div>
                    <div class="recommendInfo">
                        <div class="recommendName mb-2">{{i.name}}</div>
                        <div class="recommendText">{{i.info}}</div>
                    </div>
                    <div class="recommendBtn">
                        <a :href="i.link">名人推薦</a>
                    </div>
                </div>
            </div>
        </el-col>
        <el-col :span="24">
            <p v-if="loading"><i class="el-icon-loading mr-2"></i>讀取中...</p>
            <p v-if="noMore_recommender">没有更多了</p>
        </el-col>
    </el-row>
</div>