---
title: Kiosk
layout: ./app/main.ejs
engine: ejs
<!-- current: index -->
---

<div id="top-10" class="mainIndex" data-index="0">
    <div class="pageTitle">
        <el-divider content-position="center">
            <h1>熱銷排行TOP10</h1>
            <span>流行趨勢及熱銷飲品</span>
        </el-divider>
    </div>
    <el-row :gutter="30" class="infinite-list" v-infinite-scroll="load" style="overflow:auto">
        <el-col :span="8" v-for="(i, index) in tea" class="infinite-list-item" v-if="index < dispalay">
            <a :href="i.link" class="grid-content top10Card">
                <div class="badge">{{ index + 1 }}</div>
                <div class="drinkImg">
                    <img :src="i.img" alt="">
                </div>
                <div class="drinkInfo">
                    <div class="flex-space-between mb-2">
                        <div class="drinkName">{{i.name}}</div>
                        <div class="drinkPrice">${{i.price}}</div>
                    </div>
                    <div class="flex-space-between">
                        <div class="drinkRating"><i class="el-icon-star-on"></i>{{i.rating}}</div>
                        <div class="drinkSell"><span class="type">已售出</span>{{i.sell}}</div>
                    </div>
                </div>
            </a>
        </el-col>
    </el-row>
</div>