$main: #070150;
$sup: #f39519;
$notice: #f56c6c;
$border: #57c4e5;
$line: #d9e9fe;
$line-blue: #afc8e9;
$text-sup: #336699;
$white: white;
$shadow: 0 0 20px rgba(0, 16, 165, 0.2);
$cardShadow: 0 0 20px rgba(0, 16, 165, 0.1);
$orderActive: #fff0d8;

@mixin btn-sm {
  border-radius: 99px;
  padding: 0.5rem 1rem;
}

@mixin btn-md {
  border-radius: 99px;
  padding: 0.6rem 1.5rem;
}

@mixin btn-lg {
  border-radius: 99px;
  padding: 1rem 3rem;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin position-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@mixin bg-cover {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

@mixin animTime {
  transition-duration: 0.2s;
}
@mixin round-border {
  border-radius: 1rem;
  border: 1px solid $line-blue;
}
@mixin etc($number: 2) {
  overflow: hidden;
  // text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $number;
  -webkit-box-orient: vertical;
}

* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  font-size: 32px;
  color: $main;
  overflow-x: hidden;
  // font-family: 'Noto Sans TC', sans-serif;
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB",
    "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  height: 100%;
}
body {
  background-position: center 600px;
  background-repeat: no-repeat;
  background-image: url(../images/gradientBg.png);
}
a {
  text-decoration: none;
  color: $main;
}

input,
input[type="text"],
button,
i {
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
strong,
span,
small,
big,
b {
  color: $main;
}
img {
  max-width: 100%;
}
::placeholder {
  color: $border !important;
  font-weight: 300;
}

.btn-lg {
  @include btn-lg();
}
.flex-space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mb-2 {
  margin-bottom: 0.5rem;
}
.mb-5 {
  margin-bottom: 1.25rem;
}
.mr-2 {
  margin-right: 0.5rem;
}
.ml-2 {
  margin-left: 0.5rem;
}
.pt-5 {
  padding-top: 1.25rem;
}

// star
.home {
  height: 100%;
  background-image: url("../images/index.jpg");
  background-repeat: no-repeat;
  @include flex-center();
}
.starBtn {
  a {
    font-size: 1.5rem;
    display: block;
    background-color: white;
    margin-bottom: 1rem;
    box-shadow: $shadow;
    @include btn-lg();
  }
}

// topMenu

#topMenu {
  background-color: #f3f3f3;
  display: flex;
  padding: 0.8rem;
  overflow-x: auto;
  box-shadow: $shadow;
  .menuItem {
    flex-shrink: 0;
    background-color: $white;
    margin-right: 0.8rem;
    @include btn-md();
    @include animTime();
  }
  .active {
    color: $white;
    background-color: $sup;
    @include animTime();
  }
}

// search

#search {
  padding: 1rem;
}

.el-input__inner,
.freeBtn {
  border-radius: 0.8rem;
  height: 80px;
  color: $border;
  border: 2px solid $border;
}
.el-input__inner {
  padding: 1rem 80px;
}
.el-input.is-active .el-input__inner,
.el-input__inner:focus {
  border-color: $border;
}
.freeBtn {
  text-align: center;
  display: block;
  height: auto;
  padding: 17px 1rem;
  i {
    margin-right: 10px;
  }
}
.el-icon-search:before {
  position: absolute;
  font-size: 42px;
  color: $border;
  margin: 15px 0 0 20px;
}

// main
#main {
  padding: 1rem 2rem;
}

// top10

.pageTitle {
  text-align: center;
  background-color: $border;
  h1 {
    font-size: 50px;
    margin-bottom: 0;
  }
  span {
    display: inline-block;
    margin: 0 0 30px 0;
    font-size: 28px;
    color: $sup;
  }
}
.infinite-list {
  margin-top: 100px;
  padding-left: 0;
  height: 1050px;
}
.infinite-list-item {
  list-style-type: none;
}
.drinkCard {
  // height: 360px;
  .badge {
    margin: -30px 0 0 20px;
    color: $white;
    position: absolute;
    width: 70px;
    height: 80px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  .topDrink {
    text-align: center;
    padding-top: 15px;
    background-image: url(../images/indexNumber.png);
  }
  .goodDrink {
    background-image: url(../images/good.png);
  }
  .drinkImg {
    height: 220px;
    overflow: hidden;
    border-radius: 1rem 1rem 0 0;
    img {
      height: 100%;
      object-fit: cover;
    }
  }
  .drinkName,
  .drinkPrice {
    font-weight: bold;
  }
  .drinkPrice {
    margin-top: 10px;
    color: $notice;
  }
  .drinkRating,
  .drinkSell {
    color: $sup;
  }
  .drinkSell {
    .type {
      margin-right: 0.5rem;
      color: $border;
    }
  }
  .drinkInfo {
    padding: 0.6rem;
  }
  .drinkPrice,
  .drinkRating,
  .drinkSell {
    font-size: 0.8rem;
  }
}
.recommendCard {
  padding: 1rem;
  box-shadow: $cardShadow;
  .recommendPhoto {
    height: 180px;
    width: 180px;
    border-radius: 99px;
    overflow: hidden;
    background-color: $line;
    img {
      height: 100%;
      object-fit: cover;
    }
  }
  .recommendAssets {
    display: flex;
    color: $sup;
  }
  .recommendName {
    font-size: 1.2rem;
  }
  .recommendInfo {
    margin: 0 1rem;
  }
  .recommendText {
    @include etc();
  }
  .recommendBtn {
    flex-shrink: 0;
    border: 1px solid $border;
    display: inline-block;
    @include btn-sm();
    a {
      color: $border;
    }
  }
}
.grid-content {
  display: inline-block;
  position: relative;
  margin-bottom: 1rem;
  background-color: $white;
  width: 100%;
  @include round-border();
}
// checkoutBar
#checkoutBar {
  font-size: 1.2rem;
  width: 100%;
  position: fixed;
  bottom: 0;
  background: $orderActive;
  padding: 1.5rem;
  a {
    border-radius: 99px;
    padding: 0.7rem 1rem;
    color: $white;
    background-color: $sup;
  }
  span {
    margin: 0 0.5rem;
    color: $notice;
    font-weight: bold;
  }
  i {
    margin-right: 20px;
    font-size: 1.2rem;
  }
}
