$main: #070150;
$sup: #f39519;
$notice: #f56c6c;
$border: #57c4e5;
$light-blue: #f3f8ff;
$line: #d9e9fe;
$line-blue: #afc8e9;
$text-sup: #336699;
$white: white;
$shadow: 0 0 20px rgba(0, 16, 165, 0.2);
$cardShadow: 0 0 20px rgba(0, 16, 165, 0.1);
$orderActive: #fff0d8;

@mixin btn-sm {
  border-radius: 99px;
  padding: 0.4rem 1rem;
}

@mixin btn-md {
  border-radius: 99px;
  padding: 0.7rem 1.2rem;
}

@mixin btn-lg {
  border-radius: 99px;
  padding: .7rem 3rem;
}

@mixin input($t-color: $border, $b-color: $border, $round: 0.8rem) {
  border-radius: $round;
  height: 80px;
  color: $t-color;
  border: 2px solid $b-color;
  width: 100%;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin position-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@mixin bg-cover {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

@mixin animTime {
  transition-duration: 0.2s;
}

@mixin round-border(
  $px: 2px,
  $status: hidden,
  $round: 1rem,
  $b-color: $line-blue
) {
  border-radius: $round;
  overflow: $status;
  border: $px solid $b-color;
}

@mixin etc($number: 2) {
  overflow: hidden;
  // text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $number;
  -webkit-box-orient: vertical;
}

@mixin imgCover {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  font-size: 32px;
  color: $main;
  overflow-x: hidden;
  // font-family: 'Noto Sans TC', sans-serif;
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB",
    "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  height: 100%;
}

a {
  text-decoration: none;
  color: $main;
}

input,
input[type="text"],
button,
select,
textarea,
i {
  font-size: 1rem;
}
option {
  font-size: 0.4rem;
}
input {
  &[type="text"],
  &[type="number"],
  &[type="search"] {
    @include input();
  }
}
select {
  width: 100%;
  appearance: none;
  background-repeat: no-repeat;
  background-size: 20px auto;
  background-position: calc(100% - 20px) center;
  background-image: url("../images/selectDownArrow.svg");
  padding: 0 0.5rem;
  @include input($t-color: $main, $b-color: $line-blue, $round: 0.5rem);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
strong,
span,
small,
big,
b,
label,
div {
  line-height: 1.5rem;
  color: $main;
}
hr {
  border-top: 2px solid $line-blue;
  border-bottom: none;
  margin: 1.5rem 0;
}
img {
  max-width: 100%;
}
::placeholder {
  color: $border !important;
  font-weight: 300;
}
:focus {
  outline: none;
}
.btn-sm {
  @include btn-sm();
}
.btn-md {
  @include btn-md();
}
.btn-lg {
  @include btn-lg();
}
.flex-space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flex-space-around {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.flex-space-around {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-center {
  @include flex-center();
}
.flex-item-center {
  display: flex;
  align-items: center;
}
.mt-5 {
  margin-top: 1.25rem;
}
.mt-2 {
  margin-top: 0.5rem;
}
.mb-0 {
  margin-bottom: 0;
}
.mb-2 {
  margin-bottom: 0.5rem;
}
.mb-5 {
  margin-bottom: 1.25rem;
}
.mr-2 {
  margin-right: 0.5rem;
}
.ml-2 {
  margin-left: 0.5rem;
}
.pt-5 {
  padding-top: 1.25rem;
}
.text-center {
  text-align: center;
}

.text-main {
  color: $main;
}
.text-sup {
  color: $sup;
}
.text-border {
  color: $border;
}
.text-sup-blue {
  color: $text-sup;
}
.text-line-blue {
  color: $line-blue;
}
.text-notice {
  color: $notice;
}
.text-white {
  color: $white;
}
.text-lg {
  font-size: 1.2rem;
}
.text-sm {
  font-size: 0.8rem;
}
.text-bold {
  font-weight: bold;
}
.border-white {
  border-color: $white;
}

// star

.home {
  height: 100%;
  background-image: url("../images/index.jpg");
  background-repeat: no-repeat;
  @include flex-center();
}
.starBtn {
  a {
    font-size: 1.5rem;
    display: block;
    background-color: white;
    margin-bottom: 1rem;
    box-shadow: $shadow;
    @include btn-lg();
  }
}

// banner

#banner {
  .bannerImg {
    height: 230px;
    overflow: hidden;
    img {
      @include imgCover();
    }
  }
}

// topMenu

#topMenu {
  ul {
    background-color: #f3f3f3;
    display: flex;
    padding: 1.2rem 0.8rem;
    margin: 0;
    overflow-x: auto;
    box-shadow: $shadow;
    .menuItem {
      flex-shrink: 0;
      background-color: $white;
      margin-right: 0.8rem;
      @include btn-md();
      @include animTime();
    }
    li {
      flex-shrink: 0;
      list-style-type: none;
    }
    .active {
      color: $white;
      background-color: $sup;
      @include animTime();
    }
  }
}

// search

#search {
  padding: 1rem;
}

.freeBtn {
  @include input();
}
.searchBar {
  padding: 1rem 80px;
}
.freeBtn {
  text-align: center;
  display: block;
  height: auto;
  padding: 14px 1rem;
  i {
    margin-right: 10px;
  }
}
.el-icon-search:before {
  position: absolute;
  font-size: 42px;
  color: $border;
  margin: -35px 0 0 20px;
}

// main

#main {
  padding: 1rem;
}
.listPage {
  background-attachment: fixed;
  background-position: center 600px;
  background-repeat: no-repeat;
  background-image: url(../images/gradientBg.png);
}
.checkoutPage {
  background-color: $light-blue;
}
.orderPage {
  height: 100%;
  margin-top: -144px;
  background-image: url(../images/orderBg.jpg);
}

// top10

.pageTitle {
  text-align: center;
  // background-color: $border;
  h1 {
    font-size: 50px;
    margin-bottom: 0;
  }
  span {
    display: inline-block;
    margin: 0 0 30px 0;
    font-size: 28px;
    color: $sup;
  }
}
.infinite-list {
  margin-top: 100px;
  padding-left: 0;
  height: 1050px;
}
.infinite-list-item {
  list-style-type: none;
}
.drinkCard {
  // height: 360px;
  .badge {
    margin: -30px 0 0 20px;
    color: $white;
    position: absolute;
    width: 70px;
    height: 80px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  .topDrink {
    text-align: center;
    padding-top: 15px;
    background-image: url(../images/indexNumber.png);
  }
  .goodDrink {
    background-image: url(../images/good.png);
  }
  .drinkImg {
    height: 220px;
    overflow: hidden;
    border-radius: 1rem 1rem 0 0;
    img {
      @include imgCover();
    }
  }
  .drinkName,
  .drinkPrice {
    font-weight: bold;
  }
  .drinkPrice {
    margin-top: 10px;
    color: $notice;
  }
  .drinkRating,
  .drinkSell {
    color: $sup;
  }
  .drinkSell {
    .type {
      margin-right: 0.5rem;
      color: $border;
    }
  }
  .drinkInfo {
    padding: 0.6rem;
  }
  .drinkPrice,
  .drinkRating,
  .drinkSell {
    font-size: 0.8rem;
  }
}
.recommendCard {
  padding: 1rem;
  box-shadow: $cardShadow;
  .recommendPhoto {
    height: 180px;
    width: 180px;
    border-radius: 99px;
    overflow: hidden;
    background-color: $line;
    img {
      @include imgCover();
    }
  }
  .recommendAssets {
    display: flex;
    color: $sup;
  }
  .recommendName {
    font-size: 1.2rem;
  }
  .recommendInfo {
    margin: 0 1rem;
  }
  .recommendText {
    @include etc();
  }
  .recommendBtn {
    flex-shrink: 0;
    border: 1px solid $border;
    display: inline-block;
    @include btn-sm();
    a {
      color: $border;
    }
  }
}
.grid-content {
  display: inline-block;
  position: relative;
  margin-bottom: 1rem;
  background-color: $white;
  width: 100%;
  @include round-border($status: inherit);
}

// checkoutBar

#checkoutBar {
  font-size: 1.2rem;
  width: 100%;
  position: fixed;
  bottom: 0;
  background: $orderActive;
  padding: 1.5rem;
  a {
    @include btn-md();
    color: $white;
    background-color: $sup;
  }
  span {
    margin: 0 0.5rem;
    color: $notice;
    font-weight: bold;
  }
  i {
    margin-right: 20px;
    font-size: 1.2rem;
  }
}

// drinkDetail

#drinkDetail {
  .drinkPhoto {
    width: 100%;
    height: 400px;
    background-color: $line;
    @include round-border($px: 0);
    img {
      @include imgCover();
    }
  }
  .drinkDetailInfo {
    div {
      font-size: 1.1rem;
    }
    h2 {
      margin: 0;
      padding: 0.5rem 0;
    }
    .infoPrice {
      color: $notice;
    }
    .infood {
      color: $sup;
    }
    .infoNumber {
      margin-top: 0.75rem;
      border: 2px solid $border;
      @include btn-sm();
      text-align: center;
      color: $border;
    }
    .infoData {
      margin-bottom: 0.75rem;
      div {
        color: $sup;
      }
      .sell {
        margin-left: 1rem;
        padding-left: 1rem;
        border-left: 1px solid $line-blue;
        span {
          color: $main;
        }
      }
    }
  }
  .drinkText * {
    color: $text-sup;
  }
}

.drinkChoose {
  margin-bottom: 1rem;
  .drinkType {
    color: $sup;
    span {
      color: $notice;
      margin-right: 0.25rem;
    }
  }
  input:not(input[type="number"]) {
    display: none;
  }
  input[type="number"] {
    border-radius: 99px;
    border-color: $line-blue;
    text-align: center;
    width: 150px;
    margin: 0 0.5rem;
    color: $main;
  }
  label {
    @include round-border();
    @include btn-sm();
    display: inline-block;
    margin-right: 0.5rem;
    color: $line-blue;
  }
  i[class*="el-icon"] {
    border-radius: 99px;
    color: $white;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $line-blue;
  }
  input[type="radio"]:checked + label {
    background-color: $main;
    color: $white;
  }
}
.drinkBuy {
  padding-top: 1rem;
  font-size: 1.2rem;
  .addCart,
  .checkOut {
    @include btn-md();
    width: 390px;
    text-align: center;
    color: $white;
  }
  .addCart {
    background-color: $border;
  }
  .checkOut {
    background-color: $sup;
  }
}

.drinkProgress {
  width: 80%;
  padding-bottom: 5rem;
  margin: 0 auto;
  img {
    width: 70px;
  }
  .progress {
    width: 100%;
    height: 16px;
    border-radius: 99px;
    background-color: $line-blue;
    .progressBar {
      width: 60%;
      height: 100%;
      border-radius: 99px;
      position: relative;
      background-color: $main;
    }
    .barValue {
      top: 30px;
      right: -40px;
      position: absolute;
      text-align: center;
      i:before {
        content: "▲";
      }
    }
  }
}

.tea-content {
  .ingredients-title {
    div {
      @extend .text-line-blue;
      padding-right: 0.5rem;
    }
    div:first-child {
      flex-basis: 75%;
    }
    .position-price,
    .position-remove {
      text-align: center;
      flex-basis: 12.5%;
    }
  }
  .cup-content {
    margin-bottom: 0.5rem;
    div {
      text-align: center;
      flex-basis: 25%;
      padding-right: 0.5rem;
    }
    .ingredients-price,
    .ingredients-del {
      flex-basis: 12.5%;
      @extend .text-notice;
    }
  }
  .add-ingredients {
    @include btn-sm();
    @include round-border($round: 0.5rem);
    display: inline-block;
    color: $border;
    border-color: $border;
  }
}

.ingredients-total {
  h3 {
    margin: 0;
    padding-right: 0.5rem;
  }
  h3:first-child {
    flex-basis: 75%;
  }
  .position-price,
  .position-remove {
    text-align: center;
    flex-basis: 12.5%;
  }
}

// free drink

.freeDrink_title {
  p {
    font-size: 0.8rem;
    line-height: 1.2rem;
    color: $border;
  }
}

// navigation

#navigation {
  padding: 1.5rem;
  box-shadow: $shadow;
  background-color: $white;
  position: sticky;
  top: 0;
  a {
    position: absolute;
  }
  h2 {
    margin: 0;
  }
}
.buyList {
  padding: 1rem;
  background-color: $white;
  margin-bottom: 150px;
  @include round-border();
  .buyItem {
    list-style-type: none;
  }
  .buyItem:not(:last-child) {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid $line-blue;
  }
}
.drinkItem {
  .itemImg {
    width: 240px;
    height: 240px;
    flex-shrink: 0;
    margin-right: 1rem;
    @include round-border($px: 0px);
    img {
      object-fit: cover;
    }
  }
  .itemDetail {
    width: 100%;
    h3 {
      margin-top: 0;
      margin-bottom: 0;
      padding: 0.5rem 0;
    }
  }
  .drinkChoose {
    margin-bottom: 0;
  }
}

// order

.orderMain {
  height: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}
.orderLogo {
  padding: 344px 0 250px;
}
.orderContent {
  .orderQr,
  .orderNumber {
    display: block;
    @include btn-lg();
    @include round-border($b-color: $border);
  }
  .keyNumber {
    height: 120px;
  }
}
.orderHr {
  border-color: $border;
  margin: 1rem 0;
}
.orderText {
  padding: 3rem 0 4.5rem;
  font-size: 1.5rem;
}
.orderRemove {
  text-decoration: underline;
}
.btnGroup {
  @include flex-center();
  div,
  a {
    color: $white;
    @include btn-lg();
  }
  .orderAfterRemove {
    background-color: $line-blue;
    margin-right: 2rem;
  }
  .orderExchange {
    background-color: $border;
  }
}

// poppu

.fixedBg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1;
  transition-duration: 0.3s;
  @include flex-center();
  background-color: rgba(0, 0, 0, 0.2);
}

.popup {
  padding: 1rem;
  width: 90%;
  height: 90%;
  @include round-border($status: inherit);
  background-color: $white;
  position: relative;
  @include position-center();
  .popupContent {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
  }
  .popupClose {
    position: absolute;
    right: -40px;
    top: -40px;
    width: 100px;
    height: 100px;
    background-color: $white;
    border-radius: 99px;
    box-shadow: $shadow;
    @include flex-center();
    i {
      font-size: 1.5rem;
    }
  }
}

.popup-blue {
  height: auto;
  background-color: $border;
  .btn {
    background-color: $sup;
    width: 60%;
    margin: 2rem auto;
  }
}

.popup-order {
  height: auto;
}

.popupHide {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  transition-duration: 0.2s;
}
