@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html,
body {
  margin: 0;
  padding: 0;
  font-size: 32px;
  color: #070150;
  overflow-x: hidden;
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  height: 100%; }

body {
  background-position: center 600px;
  background-repeat: no-repeat;
  background-image: url(../images/gradientBg.png); }

a {
  text-decoration: none;
  color: #070150; }

input,
input[type="text"],
button,
i {
  font-size: 1rem; }

h1,
h2,
h3,
h4,
h5,
h6,
p,
strong,
span,
small,
big,
b {
  color: #070150; }

img {
  max-width: 100%; }

::-webkit-input-placeholder {
  color: #57c4e5 !important;
  font-weight: 300; }

::-moz-placeholder {
  color: #57c4e5 !important;
  font-weight: 300; }

:-ms-input-placeholder {
  color: #57c4e5 !important;
  font-weight: 300; }

::-ms-input-placeholder {
  color: #57c4e5 !important;
  font-weight: 300; }

::placeholder {
  color: #57c4e5 !important;
  font-weight: 300; }

.btn-lg {
  border-radius: 99px;
  padding: 1rem 3rem; }

.flex-space-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.mb-2 {
  margin-bottom: 0.5rem; }

.home {
  height: 100%;
  background-image: url("../images/index.jpg");
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.starBtn a {
  font-size: 1.5rem;
  display: block;
  background-color: white;
  margin-bottom: 1rem;
  -webkit-box-shadow: 0 0 20px rgba(0, 16, 165, 0.2);
          box-shadow: 0 0 20px rgba(0, 16, 165, 0.2);
  border-radius: 99px;
  padding: 1rem 3rem; }

#topMenu {
  background-color: #f3f3f3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.8rem;
  overflow-x: auto;
  -webkit-box-shadow: 0 0 20px rgba(0, 16, 165, 0.2);
          box-shadow: 0 0 20px rgba(0, 16, 165, 0.2); }
  #topMenu .menuItem {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    background-color: white;
    margin-right: 0.8rem;
    border-radius: 99px;
    padding: 0.6rem 1.5rem;
    -webkit-transition-duration: 0.2s;
         -o-transition-duration: 0.2s;
            transition-duration: 0.2s; }
  #topMenu .active {
    color: white;
    background-color: #f39519;
    -webkit-transition-duration: 0.2s;
         -o-transition-duration: 0.2s;
            transition-duration: 0.2s; }

#search {
  padding: 1rem; }

.el-input__inner,
.freeBtn {
  border-radius: 0.8rem;
  height: 80px;
  color: #57c4e5;
  border: 2px solid #57c4e5; }

.el-input__inner {
  padding: 1rem 80px; }

.el-input.is-active .el-input__inner,
.el-input__inner:focus {
  border-color: #57c4e5; }

.freeBtn {
  text-align: center;
  display: block;
  height: auto;
  padding: 17px 1rem; }
  .freeBtn i {
    margin-right: 10px; }

.el-icon-search:before {
  position: absolute;
  font-size: 42px;
  color: #57c4e5;
  margin: 15px 0 0 20px; }

#main {
  padding: 2rem; }

.pageTitle {
  text-align: center;
  background-color: #57c4e5; }
  .pageTitle h1 {
    font-size: 50px;
    margin-bottom: 0; }
  .pageTitle span {
    display: inline-block;
    margin: 0 0 30px 0;
    font-size: 28px;
    color: #f39519; }

.infinite-list {
  margin-top: 100px;
  padding-left: 0;
  padding-top: 20px;
  height: 950px; }

.infinite-list-item {
  list-style-type: none; }
  .infinite-list-item .grid-content {
    display: inline-block;
    position: relative;
    margin-bottom: 1rem;
    background-color: white;
    width: 100%;
    border-radius: 1rem;
    border: 1px solid #afc8e9; }
  .infinite-list-item .top10Card {
    height: 360px; }
    .infinite-list-item .top10Card .badge {
      margin: -20px 0 0 20px;
      text-align: center;
      color: white;
      position: absolute;
      width: 41px;
      height: 48px;
      background-image: url(../images/indexNumber.png);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center; }
    .infinite-list-item .top10Card .drinkImg {
      height: 220px;
      overflow: hidden;
      border-radius: 1rem 1rem 0 0; }
      .infinite-list-item .top10Card .drinkImg img {
        height: 100%;
        -o-object-fit: cover;
           object-fit: cover; }
    .infinite-list-item .top10Card .drinkName,
    .infinite-list-item .top10Card .drinkPrice {
      font-weight: bold; }
    .infinite-list-item .top10Card .drinkPrice {
      margin-top: 10px;
      color: #f56c6c; }
    .infinite-list-item .top10Card .drinkRating,
    .infinite-list-item .top10Card .drinkSell {
      color: #f39519; }
    .infinite-list-item .top10Card .drinkSell .type {
      margin-right: 0.5rem;
      color: #57c4e5; }
    .infinite-list-item .top10Card .drinkInfo {
      padding: 0.6rem; }
    .infinite-list-item .top10Card .drinkPrice,
    .infinite-list-item .top10Card .drinkRating,
    .infinite-list-item .top10Card .drinkSell {
      font-size: 0.8rem; }
  .infinite-list-item .recommendCard {
    padding: 1rem; }
    .infinite-list-item .recommendCard .recommendPhoto {
      height: 180px;
      width: 180px;
      border-radius: 99px;
      overflow: hidden;
      background-color: #d9e9fe; }
      .infinite-list-item .recommendCard .recommendPhoto img {
        height: 100%;
        -o-object-fit: cover;
           object-fit: cover; }
    .infinite-list-item .recommendCard .recommendName {
      font-size: 1.2rem; }
    .infinite-list-item .recommendCard .recommendInfo {
      margin: 0 1rem; }
    .infinite-list-item .recommendCard .recommendText {
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical; }
    .infinite-list-item .recommendCard .recommendBtn {
      -ms-flex-negative: 0;
          flex-shrink: 0;
      border: 1px solid #57c4e5;
      border-radius: 99px;
      padding: 0.5rem 1rem; }
      .infinite-list-item .recommendCard .recommendBtn a {
        color: #57c4e5; }

#checkoutBar {
  font-size: 1.2rem;
  width: 100%;
  position: fixed;
  bottom: 0;
  background: #fff0d8;
  padding: 1.5rem; }
  #checkoutBar a {
    border-radius: 99px;
    padding: 0.7rem 1rem;
    color: white;
    background-color: #f39519; }
  #checkoutBar span {
    margin: 0 0.5rem;
    color: #f56c6c;
    font-weight: bold; }
  #checkoutBar i {
    margin-right: 20px;
    font-size: 1.2rem; }

/*# sourceMappingURL=all.css.map */
