<!-- free_ok -->
<div id="freeOk" class="popup popup-blue" :class="{popupHide:data_share.free_ok_hide}">
    <!-- 點擊 @click 關閉 popup -->
    <div class="popupContent text-center">
        <h3 class="text-white">開啟自配方功能</h3>
        <hr class="border-white">
        <div>
            <img src="../../assets/images/qr-ok.png" alt="" srcset="">
        </div>
        <p class="text-lg text-white">掃描成功<br>自配方功能已開通</p>
        <div class="btn btn-md text-white text-lg"
            @click="data_share.free_ok_hide = true, data_share.free_drink_hide = false">開始使用</div>
    </div>
</div>