<!-- 點擊 @click 關閉 popup -->
<div class="popupContent text-center">
    <h3 class="text-white">
        <%- freeTitle %>
    </h3>
    <hr class="border-white">
    <div>
        <img src="<%- freeImg %>" alt="" srcset="">
    </div>
    <p class="text-lg text-white">
        <%- freeText %>
    </p>
    <%- freeBtn %>
</div>