<!-- free_drink -->
<div id="freeDrink" class="popup" :class="{popupHide:data_share.free_drink_hide}">
    <!-- 點擊 @click 關閉 popup -->
    <div class="popupClose" @click="data_share.popuphide = true, data_share.free_drink_hide = true"><i
            class="el-icon-close"></i></div>
    <div class="popupContent">
        <div class="freeDrink_title text-center">
            <h2>製作自配方</h2>
            <p>在此製作配方只能一次性調配，無法儲存重複使用，<br>如想重複使用請至配配飲官網</p>
        </div>
        <hr>
        <h3 class="mb-0">選擇容量<span class="text-notice">*</span></h3><br>
        <div class="drinkChoose text-center">
            <input type="radio" name="free_cup" id="medium" checked>
            <label for="medium">中杯</label>
            <input type="radio" name="free_cup" id="large">
            <label for="large">大杯</label>
        </div>
        <!-- 進度條 -->
        <div class="drinkProgress">
            <div class="flex-space-between">
                <div class="text-center">
                    <div><b>0ml</b></div>
                    <img src="./assets/images/drinkCup0.svg" alt="" srcset="" class="" />
                </div>
                <div class="text-center">
                    <div><b>250ml</b></div>
                    <img src="./assets/images/drinkCup50.svg" alt="" srcset="" class="" />
                </div>
                <div class="text-center">
                    <div><b>500ml</b></div>
                    <img src="./assets/images/drinkCup100.svg" alt="" srcset="" class="" />
                </div>
            </div>
            <div class="progress">
                <div class="progressBar">
                    <div class="barValue">
                        <i></i>
                        <div><b>300ml</b></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 增加選項 -->
        <div class="tea-content">
            <div class="flex-item-center">
                <h3 class="mr-2">選擇茶底<span class="text-notice">*</span></h3>
                <span class="text-sup text-sm">請至少選擇一種茶底</span>
            </div>
            <div class="ingredients-title flex-item-center mb-2">
                <div>茶底種類</div>
                <div class="text-sm">食材費</div>
            </div>
            <div class="cup-content flex-item-center">
                <div>
                    <select name="" id="">
                        <option value="">果汁</option>
                    </select>
                </div>
                <div>
                    <select name="" id="">
                        <option value="">柳橙汁</option>
                    </select>
                </div>
                <div>
                    <select name="" id="">
                        <option value="">30ml</option>
                    </select>
                </div>
                <div class="ingredients-price">$30</div>
                <div class="ingredients-del"><i class="el-icon-close"></i></div>
            </div>
            <div class="cup-content flex-item-center">
                <div>
                    <select name="" id="">
                        <option value="">茶類</option>
                    </select>
                </div>
                <div>
                    <select name="" id="">
                        <option value="">綠茶</option>
                    </select>
                </div>
                <div>
                    <select name="" id="">
                        <option value="">30ml</option>
                    </select>
                </div>
                <div class="ingredients-price">$30</div>
                <div class="ingredients-del"><i class="el-icon-close"></i></div>
            </div>
            <div class="add-ingredients"><i class="el-icon-plus mr-2"></i>增加茶底</div>
        </div>
        <div class="tea-content">
            <div class="flex-item-center">
                <h3 class="mr-2">添加配料</h3>
            </div>
            <div class="ingredients-title flex-item-center mb-2">
                <div>配料種類</div>
                <div class="text-sm">食材費</div>
            </div>
            <div class="cup-content flex-item-center">
                <div>
                    <select name="" id="">
                        <option value="">加工食品</option>
                    </select>
                </div>
                <div>
                    <select name="" id="">
                        <option value="">布丁</option>
                    </select>
                </div>
                <div>
                    <select name="" id="">
                        <option value="">30ml</option>
                    </select>
                </div>
                <div class="ingredients-price">$30</div>
                <div class="ingredients-del"><i class="el-icon-close"></i></div>
            </div>
            <div class="cup-content flex-item-center">
                <div>
                    <select name="" id="">
                        <option value="">水果</option>
                    </select>
                </div>
                <div>
                    <select name="" id="">
                        <option value="">哈密瓜</option>
                    </select>
                </div>
                <div>
                    <select name="" id="">
                        <option value="">30ml</option>
                    </select>
                </div>
                <div class="ingredients-price">$30</div>
                <div class="ingredients-del"><i class="el-icon-close"></i></div>
            </div>
            <div class="add-ingredients"><i class="el-icon-plus mr-2"></i>增加配料</div>
        </div>
        <hr>
        <!-- 總計 -->
        <div class="ingredients-total flex-item-center">
            <h3>食材費總計</h3>
            <h3 class="text-notice">$90</h3>
        </div>
        <hr>
        <h3>客製選項</h3>
        <div class="drinkChoose flex-item-center">
            <div class="mr-2 drinkType"><span>*</span>甜度</div>
            <div class="flex-item-center">
                <input type="radio" name="free_sugar" id="sugar_no" checked>
                <label for="sugar_no">無糖</label>
            </div>
            <div class="flex-item-center">
                <input type="radio" name="free_sugar" id="sugar_3">
                <label for="sugar_3">三分</label>
            </div>
            <div class="flex-item-center">
                <input type="radio" name="free_sugar" id="sugar_5">
                <label for="sugar_5">半分</label>
            </div>
            <div class="flex-item-center">
                <input type="radio" name="free_sugar" id="sugar_7">
                <label for="sugar_7">七分</label>
            </div>
            <div class="flex-item-center">
                <input type="radio" name="free_sugar" id="sugar_10">
                <label for="sugar_10">正常</label>
            </div>
        </div>
        <div class="drinkChoose flex-item-center">
            <div class="mr-2 drinkType"><span>*</span>溫度</div>
            <div class="flex-item-center">
                <input type="radio" name="free_temp" id="cold" checked>
                <label for="cold">冷飲</label>
            </div>
            <div class="flex-item-center">
                <input type="radio" name="free_temp" id="normal">
                <label for="normal">常溫</label>
            </div>
            <div class="flex-item-center">
                <input type="radio" name="free_temp" id="hot">
                <label for="hot">熱飲</label>
            </div>
        </div>
        <div class="drinkChoose flex-item-center">
            <div class="mr-2 drinkType"><span>*</span>冰塊</div>
            <div class="flex-item-center">
                <input type="radio" name="free_ice" id="ice_no" checked>
                <label for="ice_no">去冰</label>
            </div>
            <div class="flex-item-center">
                <input type="radio" name="free_ice" id="ice_3">
                <label for="ice_3">微冰</label>
            </div>
            <div class="flex-item-center">
                <input type="radio" name="free_ice" id="ice_5">
                <label for="ice_5">少冰</label>
            </div>
            <div class="flex-item-center">
                <input type="radio" name="free_ice" id="ice_10">
                <label for="ice_10">正常</label>
            </div>
        </div>
        <div class="drinkChoose flex-item-center">
            <div class="mr-2 drinkType"><span>*</span>數量</div>
            <div><i class="el-icon-minus"></i></div>
            <div><input type="number" name="" id="" value="1"></div>
            <div><i class="el-icon-plus"></i></div>
        </div>
        <div class="drinkBuy flex-center">
            <div class="addCart mr-2">確定，加入購物籃</div>
            <div class="checkOut">直接結帳</div>
        </div>
    </div>
</div>