<!-- 點擊 @click 關閉 popup -->
<div class="popupContent text-center">
    <div class="popupTitle">
        <%- title %>
    </div>
    <div class="popupText text-bold">
        <%- text %>
    </div>
    <div>
        <%- btn %>
    </div>
</div>