<!-- scanQr -->
<div id="scan" class="popup popup-order">
    <!-- 點擊 @click 關閉 popup -->
    <div class="popupContent text-center">
        <%- title %>
            <div class="orderText text-bold">
                <%- text %>
            </div>
            <div>
                <%- btn %>
            </div>
    </div>
</div>